.Bar-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Makes image behave like CSS background cover */
  z-index: 0; /* Keeps image behind content */
  border-radius: 15px;
}

.steps {
  position: relative; /* So it stays above the image */
  padding: 8% 3%; /* responsive relative padding */
  z-index: 1;
  display: flex;
  flex-direction: column;
}

.Step-container {
  display: flex;
  align-items: center;
  gap: 24px;
  margin: 24px;
}
.icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid var(--color-neutral-blue-50);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-neutral-blue-50);
}
.icon.active {
  border-color: var(--color-primary-blue-300);
  color: var(--color-primary-blue-950);
  background-color: var(--color-primary-blue-300);
  font-weight: 700;
}
.Step-container .text {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.Step-container .text .header {
  margin: 0;
  color: var(--color-neutral-grey-500);
}
.Step-container .text .description {
  margin: 0;
  font-weight: 700;
  color: var(--color-neutral-blue-50);
}
@media (max-width: 800px) {
  .steps {
    flex-direction: row;
    gap: 0;
    align-items: center;
    justify-content: center;
  }
  .Step-container {
    margin: 10px;
  }
  .Step-container .text {
    display: none;
  }
  .Bar-image {
    border-radius: 0;
  }
}
