/*main elements*/
.Form .title {
  color: var(--color-primary-blue-950);
  margin: 4px 0;
}
.Form .description {
  color: var(--color-neutral-grey-500);
}
.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
  margin: 32px 12px;
}
.nextButton {
  border: none;
  background-color: var(--color-primary-blue-950);
  color: var(--color-neutral-white);
  padding: 12px 32px;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}
.nextButton.confirm {
  background-color: var(--color-primary-purple-600);
}
.nextButton.confirm:hover {
  opacity: 0.6;
}
.nextButton:hover {
  opacity: 0.8;
}
.backButton {
  font-size: 16px;
  font-weight: 500;
  color: var(--color-neutral-grey-500);
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
}
.backButton:hover {
  color: var(--color-primary-blue-950);
}
/*Form 1*/
.inputs {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.input-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.top label,
.top .input-error {
  margin: 0;
}
.top label {
  color: var(--color-primary-blue-950);
}
.input-error {
  color: var(--color-primary-red-500);
}
.input {
  outline: none;
  border: none;
  border-radius: 5px;
  border: 1px solid var(--color-primary-blue-300);
  color: var(--color-primary-blue-950);
  padding: 16px 24px;
  font-weight: 700;
  font-size: 16px;
}
.input::placeholder {
  font-weight: 400;
}
.input:focus {
  border-color: var(--color-primary-blue-950);
}
input.error {
  border-color: var(--color-primary-red-500);
}
/*Form 2*/
.plans {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin: 48px 0;
}
.cards {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 24px;
}
.plan-card {
  border: 1px solid var(--color-neutral-grey-500);
  flex-grow: 1;
  padding: 16px;
  border-radius: 10px;
  cursor: pointer;
  max-width: 254px;
}
.plan-card.active {
  background-color: var(--color-neutral-blue-100);
}
.plan-card.active,
.plan-card:hover {
  border-color: var(--color-primary-purple-600);
}
.plan-icon {
  margin-bottom: 64px;
}
.plan-title {
  color: var(--color-primary-blue-950);
  font-weight: 700;
  margin: 0;
}
.plan-price {
  color: var(--color-neutral-grey-500);
  font-size: 16px;
}
.discount {
  color: var(--color-primary-blue-950);
  font-size: 16px;
  height: 20px;
}
.toggle-div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-neutral-blue-50);
  gap: 10px;
  padding: 10px 0;
}
.duration {
  color: var(--color-neutral-grey-500);
  margin: 5px 0;
  font-weight: 500;
}
.duration.active {
  color: var(--color-primary-blue-950);
}
.toggle-container {
  width: 64px;
  height: 32px;
  background-color: var(--color-primary-blue-950);
  border-radius: 50px;
  position: relative;
  padding: 4px;
  cursor: pointer;
}

.toggle-container .thumbnail {
  position: absolute;
  top: 4px;
  left: 4px;
  height: 24px;
  width: 24px;
  background-color: var(--color-neutral-white);
  border-radius: 50%;
  transition: transform 0.3s ease;
}

.toggle-container.active .thumbnail {
  transform: translateX(32px); /* slide right smoothly */
}
/*Form 3*/
.add-ons {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.add-on {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border: 1px solid var(--color-neutral-grey-500);
  border-radius: 10px;
  cursor: pointer;
}
.add-on:hover {
  border-color: var(--color-primary-purple-600);
}
.add-on.active {
  border-color: var(--color-primary-purple-600);
  background-color: var(--color-neutral-blue-100);
}
.add-on .left {
  display: flex;
  align-items: center;
  gap: 25px;
}
.checkbox {
  height: 24px;
  width: 24px;
  border: 1px solid var(--color-neutral-grey-500);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.checkbox.active {
  background-color: var(--color-primary-purple-600);
}
.add-on .content {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.add-on .title {
  margin: 0;
  font-weight: 700;
}
.add-on .description {
  margin: 0;
}
.add-on .price {
  color: var(--color-primary-purple-600);
}
/*Form4*/
.summary {
  width: 100%;
  display: flex;
  flex-direction: column;
  max-width: 720px;
}
.input-summary {
  width: 100%;
  margin: 32px 0;
  padding: 24px;
  border-radius: 15px;
  background-color: var(--color-neutral-blue-50);
}
.plan-summary {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  border-bottom: 1px solid var(--color-neutral-grey-500);
}
.plan-summary .text {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.plan-summary .text p {
  margin: 0;
  font-weight: 500;
  color: var(--color-primary-blue-950);
}
.plan-summary .text .change-plan {
  padding: 0;
  border: none;
  background: none;
  color: var(--color-neutral-grey-500);
  text-decoration: underline;
  font-size: 18px;
  width: fit-content;
  cursor: pointer;
  text-decoration-thickness: 2px;
}
.plan-summary .text .change-plan:hover {
  color: var(--color-primary-purple-600);
}
.plan-summary .price {
  color: var(--color-primary-blue-950);
  font-weight: 700;
}
.add-ons-summary {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.add-on-summary {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.add-on-summary .title,
.total-summary .text {
  color: var(--color-neutral-grey-500);
}
.add-on-summary .price {
  color: var(--color-primary-blue-950);
  margin: 10px 0;
}
.total-summary {
  padding: 0 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.total-summary .total {
  color: var(--color-primary-purple-600);
  font-weight: 700;
  font-size: 24px;
  margin: 0;
}

/*media queries*/
@media (max-width: 800px) {
  /*Form2*/
  .cards {
    flex-direction: column;
  }
  .plan-card {
    width: 100%;
    max-width: none;
    display: flex;
    gap: 15px;
  }
  .plan-icon {
    margin: 0;
  }
  .plan-card .content {
    display: flex;
    flex-direction: column;
  }
  .plan-title,
  .plan-price,
  .discount {
    margin: 2px 0;
  }
  /*Form2*/
  .add-on {
    padding: 20px 5px;
  }
  .add-on .left {
    gap: 15px;
  }
  .buttons {
    margin-top: 25px;
  }
  /*Form4*/
  .input-summary {
    padding: 24px 0;
  }
  .total-summary {
    padding: 0 10px;
  }
}
