body {
  margin: 0;
}
.App {
  padding: 16px;
  height: 100vh;
  background-color: var(--color-neutral-white);
  display: flex;
  gap: 128px;
}
.Bar {
  flex: 1;
  display: flex;
  position: relative;
  flex-direction: column;
  min-width: 300px;
}
.Form {
  flex: 3;
  display: flex;
  flex-direction: column;
  padding: 48px 24px;
}
