body {
  margin: 0;
}
.App {
  padding: 16px;
  height: 100vh;
  background-color: var(--color-primary-blue-200);
  display: flex;
}
.Bar {
  flex: 1;
  display: flex;
  position: relative;
  flex-direction: column;
  min-width: 300px;
}
.Form,
.ThankYou {
  background-color: var(--color-neutral-white);
  flex: 3;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}
.Form {
  padding: 48px 24px;
  padding-left: 128px;
}
.ThankYou {
  align-items: center;
  justify-content: center;
}
@media (max-width: 1100px) {
  .Form {
    padding-left: 12px;
  }
}
@media (max-width: 800px) {
  .App {
    position: relative;
    flex-direction: column;
    padding: 0;
  }
  .Bar {
    align-items: center;
    justify-content: center;
    flex: none;
    height: 33%;
  }
  .Form,
  .ThankYou {
    width: 90%;
    position: absolute;
    top: 224px;
    left: 50%; /* move left edge to 50% of parent */
    transform: translateX(-50%); /* shift back by 50% of its own width */
    z-index: 1;
  }
  .ThankYou{
    padding: 112px 24px;
  }
  .Form {
    padding-left: 32px;
  }
}
@media (max-width: 500px) {
  .ThankYou {
    width: 100%;
    padding: 112px 10px;
  }
  .Form {
    width: 100%;
    padding: 48px 10px;
  }
}
